pkgbase = python-jaraco.classes
	pkgdesc = Module for classes manipulation
	pkgver = 3.3.1
	pkgrel = 2
	url = https://github.com/jaraco/jaraco.classes
	arch = any
	license = MIT
	checkdepends = python-pytest-enabler
	checkdepends = python-pytest-mypy
	checkdepends = python-pip
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-more-itertools
	conflicts = python-jaraco
	replaces = python-jaraco
	source = https://github.com/jaraco/jaraco.classes/archive/refs/tags/v3.3.1/jaraco.classes-3.3.1.tar.gz
	sha512sums = dac9511926507ece5a8e2c413e70d8f44fcb3d27f4a74e9745545a3122a74b2752fb92fa58e6c3c166039a8576aee2a9f9e426b49a4aa556b824ddb2899b7645

pkgname = python-jaraco.classes
